{
  "Spotify": {
    "ClientId": "your-spotify-client-id",
    "ClientSecret": "your-spotify-client-secret"
  },
  "Genius": {
    "AccessToken": "your-genius-access-token"
  },
  "Jwt": {
    "Key": "your-jwt-key"
  },
  "DevApiKey": "your-dev-api-key"
}
